
<%= render "/shared/businessOffers", business: @business %>
<div class="centerd-btn-layer">
  <div class="line mt-4"></div>
</div>

<%= render "/shared/showSeveralBusCard", businesses: @businesses, text: "Places You Might Like" %>
