<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path('banner.jpg') %>);">
  <div class="banner-container">
    <h2>Help your favorite places to survive the COVID-19 crisis. <br>Get discounted credits to use in future.</h2>
    <a class="button-secondary-banner" href="/businesses">Discover Places</a>
  </div>
</div>


<!--
<div class="scrolling-box" id="1">
    <h3>
      HELP YOUR COMMUNITY STAY ALIVE AND SUPPORT LOCAL BUSINESSES.
      <br>
      <br>
      BUY CREDITS, FOR YOURSLEF OR AS A GIFT.
      GET CREDIT WITH DISCOUNT AND USE IT LATER.
    </h3>
      <nav>
        <a href="#1"><i class="fas fa-circle"></i></a>
        <a href="#2"><i class="fas fa-circle"></i></a>
        <a href="#3"><i class="fas fa-circle"></i></a>
      </nav>
    <a class="button-transparent btn-banner link-to" href="#">DISCOVER SHOPS & BUSINESSES</a>
</div>


<div class="scrolling-box" id="2">
        <h3>WE DON'T HEAL IN ISOLATION, BUT IN COMMUNITY. <br><br>
          PROMOTE YOUR BUSINESS AND OFFER DISCOUNTED CREDIT.
          EDIT WITH DISCOUNT AND USE IT LATER.</h3>
    </h3>
      <nav>
        <a href="#1"><i class="fas fa-circle"></i></a>
        <a href="#2"><i class="fas fa-circle"></i></a>
      </nav>
    <a class="button-transparent btn-banner link-to" href="#">REGISTER YOUR BUSINESS TODAY</a>
</div>

 -->
