<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('passion-banner.jpg') %>);">
  <div class="banner-container">
    <h1>Help your favorite places to survive the COVID-19 crisis.
Get discounted credits to use in the future. </h1>
<br>
    <a class="button-secondary-nb mt-4" href="#">Discover Places</a>
  </div>
</div>
