<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('passion-banner.jpg') %>);">
  <div class="banner-container">
    <h2>HELP YOUR COMMUNITY SURVIVE IN CRISIS. GET DISCOUNTED CREDITS TO USE IN FUTURE.</h2>
    <a class="button-secondary-banner" href="#">Discover Places</a>
  </div>
</div>
