<div class="b-main-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path('banner.jpg') %>);">
    <div class="banner-container">
      <h2>Help your favorite places to survive the COVID-19 crisis. <br>Get discounted credits to use in future.</h2>
      <a class="button-blue" href="/businesses">Discover Places</a>
    </div>
  </div>


  <div class="banner-2">
    <div class="sec1">
      <h2>Let's help local businesses in our community survive during this period. <br>
          Pay less and buy credit from the local business you like! <br>
          You can use the credit later for any product or service...
           <br> <br>Supprt the local businesses! And pay less for your favorite purchase!
      </h2>
      <div class="action-sec1 mt-1">
            <%= link_to "Sign Up Here!",  new_user_registration_path , class: "link-to-white-solid"%>
       </div>
    </div>
    <div class="sec2">
      <h2> Register your business here.. <br><br>Promote your business ... Sell discounted credit <br>
          We are all here to help you run your business in this peroid!

      </h2>
          <br>
        <div class="action-sec2 mt-1">
            <%= link_to "Register Your Business",  new_user_registration_path , class: "link-to-blue"%>
       </div>
    </div>
  </div>
</div>
