
<div class="card-container">
  <div class="card-container-item">
    <div class="card">
      <img src=<%= asset_path('cafe.jpg') %> />
      <div class="card-infos">
        <div>
          <h2>Chez Panisse</h2>
          <p>Resturaunt</p>
        </div>
        <p class="card-empl">10 people work here</p>
        <h2 class="card-user discount-bordered">20%</h2>
      </div>
    </div>
  </div>
</div>
