<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright" style="color: rgb(240,240,240);">
    Thanks for making the community a better place <i class="fas fa-heart"></i>
  </div>
  <div style="color: rgb(240,240,240);">
    © 2020 ShopHelper
  </div>
</div>
