<div class="header">

  <div class="action">
    <div class="shop">
      Shop
    </div>

    <div class="cart">
      Cart
    </div>

  </div>

  <div class="logo">
    <%= image_tag "tuche.jpg", class: "tuche"%>
  </div>


  <div class="search">
    <input type="search" />
    <a>Logout</a>
  </div>
</div>
