



<div class="navbar-container">
<div class="navbar-spc"></div>
<div class="navbar-box-str">Stores</div>
<div class="navbar-box-abt">About Us</div>
<div class="nav-logo">logo is here</div>
<div class="navbar-box-srch">search</div>
<div class="navbar-box-lg"><%= link_to "Login", new_user_registration_path, class: "link-to" %></div>
<div class="navbar-box-bag">
bag
</div>
</div>

