<div class="b-main-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path('aboutus.jpg') %>);">
      <h2>ABOUT US</h2>
  </div>
</div>

<div class="box_1">
  <div class="mission">
    <h2>MISSION</h2>
    <p>
  In Greek mythology Tiche or Tyche (in ancient Greek: Τύχη, Týchē) was the personification of luck, the divinity that guaranteed the prosperity of a city and its destiny.

  Tuche was born from the dream of wanting to help companies and consumers in a difficult period like that of Covid-19.
  </p>
  </div>
</div>



<div class="box_2">
  <div class="vision">
    <h2>VISION</h2>
    <p>Our goal is to bring companies and end consumers together. How? With this virtual platform where the consumer can find advantageous offers provided by companies affiliated with Tuche
    </p>
  </div>
</div>


<div class="box_3">
  <div class="philosophy">
    <h2>PHILOSPHY</h2>
    <ol class="bo">
      <p>Treat customers the way you want to be treated.</p>
      <p>Helping companies also help the whole community.</p>
      <p>Collaborate and create together for a better future.</p>
    </ol>
  </div>
</div>
