.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 700px;
  width: 100%;

}


.banner h2 {
  margin: 0;
  color: white;
  font-weight: lighter;
  line-height: 44px !important;
}


.banner-container {
  height: 300px;
  width: 900px;
  position: absolute;
  right: 200px;
  top: 220px;
}


.banner-container a {
  position: absolute;
  top: 110px;
}


.banner-container a:hover {
  text-decoration: none;
}
