.button-primary {
  color: white;
  padding: 8px 24px;
  background: #333333;
  border: 1px solid #333333;
  width: 360px;
  height: 42px;

  left: 0%;
  right: 0%;
  top: 21.43%;
  bottom: 23.81%;

  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.button-transparent {
  color: black;
  padding: 8px 24px;
  background: white;
  // border: 0px solid white;
  width: 360px;
  height: 42px;

  left: 0%;
  right: 0%;
  top: 21.43%;
  bottom: 23.81%;
   font-size: 16px;
  line-height: 23px;
  text-align: center;
  text-decoration: underline;
}

.button-primary:hover {
  background: white;
  color: black;
  border: 1px solid #333333;
  text-decoration: none;
}

.button-secondary-banner {
  color: black;
  padding: 10px 24px;
  background: white;
  width: 260px;
  height: 42px;
  top: 50px;

  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.button-secondary-banner:hover {
  background: #333333;
  color: white;
  border: 1px solid #333333;
  text-decoration: none;
}

.button-secondary{
  color: black;
  padding: 8px 24px;
  background: white;
  border: 1px solid #333333;
  width: 360px;
  height: 42px;

  left: 0%;
  right: 0%;
  top: 21.43%;
  bottom: 23.81%;

  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.button-secondary:hover {
  background: #333333;
  color: white;
  border: 1px solid #333333;
  text-decoration: none;
}

.button-secondary-sm {
  color: black;
  padding: 14px;
  background: white;
  border: 1px solid #333333;
  width: 167px;
  height: 42px;

  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.button-secondary-sm:hover {
  background: #333333;
  color: white;
  border: 1px solid #333333;
  text-decoration: none;
}




