.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: 45px;
  margin-left: 45px;
}



.card-container .card-container-item {
  flex-grow: auto;
  width: 360px;
  height: 269px;
  margin-top: 10px;
  margin-top: 10px;
  align-self: flex-start;
}


.card-container .card-container-item:hover {
  opacity: 0.7;
}




