.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}


.card-container .card-container-item {
  flex-grow: auto;
  width: 360px;
  height: 269px;
  margin: 20px;
  align-self: baseline;
}



