@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "card";
@import "cardGrid";
@import "banner";
@import "showBusGrid";


body {
font-family: Karla;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #000000;
background-color: white;
}

p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}


h1 {
    font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
}
