* {
  margin: 0;
  padding: 0;
}

.header {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 58px;
}

.action {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.shop,
.cart,
.logo,
.search {
  min-width: 100px;
  margin: 18px;
}

.tuche {
  height: 28px;
}

.shop {
  border: 2px solid red;
  background-color: light-blue;
  padding: 17px 38px;
  box-sizing: content;
  line-height: 0.2;
}

.cart {
  border: 2px solid red;
  background-color: light-blue;
  padding: 17px 38px;
  box-sizing: content;
  line-height: 0.2;
}


