.bus-container {
  display: grid;
  // grid-template-columns: 128px 360px 52px 360px 52px 360px 128px;
  grid-template-columns: 773px auto 90px;
  grid-template-rows:  526px;
  grid-template-areas:
    // "topic1 topic2 "
    "pic info . ";
  column-gap: 80px;
  margin-top: 20px;

}

.main-item {

  // margin: 20px;
  grid-area: pic;

}

.main-item img {
  width: 773px;
  height: 526px;
  margin-left: 25px;
}

// .space-holder {
//   grid-area: spc;
//   // width: 150px;
// }

.space-holder-line {
  width: 700px;
  height: 50px;
  border-top: 0.5px solid black;
}


.bus-content-container {
  grid-area: info;
  // width: 600px;
  // height: 527px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.bus-infos {
  align-self: flex-start;
  // padding-left: 4px;
}

.bus-infos h1 {
  padding-top: 8px;
  font-family: Karla;
  font-weight: lighter;
  font-size: 28px;
  line-height: 33px;
}

.bus-infos p {
  font-family: Karla;
  font-weight: lighter;
  font-size: 14px;
  line-height: 16px;
  width: 350px;
}


 .bus-offers {
  display: grid;
  grid-template-columns: 167px 1167px;
  grid-template-rows:  42px 42px;
  grid-template-areas:
    "ofr ofr"
    "ofr ofr";
    column-gap: 26px;
    row-gap: 23px;
  margin-bottom: 23px;
}

.bus-offers .offers {
  grid-area: ofr;
  // align-self: baseline;
  // margin-bottom: 25px;
  text-align: center;
}


